body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 40em;
    margin: auto;
    text-align: justify;
    color: #0c1445;
}

div {
    margin-right: 2em;
    font-size: 0.9em;
}

img {
    width: 100%;
    height: auto;
}

a, h2 { color: rgb(169, 123, 23); }

h1 {
    font-size: 1.5em;
    color: rgb(50, 148, 97);
}

h2 {
    font-size: 1.2em;
    margin-top: 1.5em;
    border-top: 1px #AAAAAA solid;
    padding-top: 0.5em;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 0.8em;
}
caption {
    font-size: 0.9em;
    padding: 10px;
    caption-side: bottom;
    font-style: italic;
}
th, td { padding: 5px 10px; }
tr th:first-child { padding-right: 40px; }
tr:first-child th { border-bottom: 1px solid black; }

.slika {
    float: left;
    width: 25%;
}
.slika p {
    font-size: 0.8em;
    text-align: center;
}

h3 {
    font-size: 1em;




}
